---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Guilherme Cardoso</h1>
			<p class="hero__text">
				Desenvolvedor Fullstack
			</p>
			<Boton href="#about" texto="Saber mais"/>
		</div>
    <img
		class="hero__img"
		src="/img/jhon-doe.webp"
		alt="Guilherme Cardoso"
		width="384"
    	height="384"
	/>
	</div>
</section>
