---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			Experiência em JavaScript, AngularJS e Vue.js. 
			Sou proficiente em HTML, CSS, Bootstrap e jQuery o que me permite criar interfaces de usuário responsivas e intuitivas que melhoram a experiência do usuário.
			Tenho familiaridade com a Google Cloud Platform (GCP) para soluções de infraestrutura em nuvem, sendo capaz de projetar e implementar arquiteturas escaláveis. Minha experiência inclui o uso de bancos de dados relacionais como PostgreSQL, bem como bancos de dados não relacionais, e estou confortável com soluções de mensageria, incluindo RabbitMQ, para a construção de sistemas distribuídos e assíncronos.
		</p>
	</div>
</section>
