---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="https://www.bpocenter.com.bo/wp-content/uploads/2017/11/10.jpg"
			alt="Foto de perfil de Guilherme Cardoso"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mim" />
			<p class="about__text">
				Sou um desenvolvedor backend com experiência em tecnologias robustas e modernas. Especializado em Java e C#, utilizo essas linguagens para desenvolver soluções backend eficientes e escaláveis. Meu conhecimento se estende a frameworks como Spring Boot, onde aplico boas práticas de desenvolvimento para garantir desempenho e segurança.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
