---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="GuiCardoso">
	<div class="terminal__skills">
		<h2>Minhas habilidades</h2>
		<div class="terminal__skills__container">
			<TerminalIcon
				src="/assets/vue.svg"
				color="#008000"
				name="VueJS"
			/>
			<TerminalIcon
				src="/assets/angular.svg"
				color="#FF4747"
				name="Angular"
			/>
			<TerminalIcon
				src="/assets/javascript.svg"
				color="#FFFF00"
				name="JavaScript"
			/>
			<TerminalIcon src="/assets/java.svg" color="#CD853F" name="Java" />
			<TerminalIcon src="/assets/springboot.svg" color="#32CD32" name="Spring" />
			<TerminalIcon
				src="/assets/electron.svg"
				color="#C54534"
				name="AngularJS"
			/>
		</div>
	</div>
</Terminal>
